{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Explorer >=11",
            "Android >=4.4",
            "ChromeAndroid >=44",
            "iOS >=7",
            "Edge >=12"
          ]
        },
        "modules": false
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "."
        ]
      }
    ],
    "external-helpers"
  ]
}
